# Environment variables
.env

# Python virtual environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# Uploaded data files
uploads/*
!uploads/.gitkeep

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

node_modules/